@font-face {
    font-family: titillium;
    src: url(".../fonts/titillium.ttf");
}
*{
    font-family: titillium;
    font: size 12px; 
}
body{
    margin: 0;
    background-image: url("bbb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section{
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: back;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
form{
   width: 500px; 
   background-color: rgba(0, 0, 0, 0.4);
   padding: 60px;
   box-sizing: border-box;
   border-radius: 20px;
}
input{
    display: block;
    margin: 10px auto;
    width: 300px;
    padding: 6px  10px;
    outline: none;
    border: none;
    box-sizing: border-box;
}
h4{
    color: red;
}
input[type="submit"]
{
    background-color:#0E0; 
    font-weight: bold;
    cursor: pointer;
}
@keyframes back{
    0%{
        filter:hue-rotate(0deg)
    }
    100%{
        filter:hue-rotate(360deg)
    }
}
